/* CSS files add styling rules to your content */


body {
  font-family: verdana, arial, sans-serif;
  margin: 2em;
  background-color: black;
  text-align:center;
}

h1 {
  font-family: verdana, arial, sans-serif;
  color: white;
  text-align:left;
}
p{
  color: white;
  text-align:left;
}


#startBtn {
  font-family: verdana, arial, sans-serif;
  padding: 15px;
  border-radius: 40px;
  background: green;
  color: black;
}

#hardBtn {
  font-family: verdana, arial, sans-serif;
  padding: 15px;
  border-radius: 40px;
  background: orange;
  color: black;
}

#stopBtn {
  font-family: verdana, arial, sans-serif;
  padding: 15px;
  border-radius: 40px;
  background: red;
  color: black;
}

/*creating panel shape to try an match original game design*/

.panelShape1{
  border-top-left-radius: 200px;
  width:150px;
  height:150px;
}
.panelShape2 {
  border-top-right-radius: 200px;
  width:150px;
  height:150px;
}
.panelShape3 {
  border-bottom-left-radius: 200px;
  width:150px;
  height:150px;
}
.panelShape4 {
  border-bottom-right-radius: 200px;
  width:150px;
  height:150px;
  
}

.center{
  position: absolute;
  top: 523px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 100px;
  width:175px;
  height:175px;
  
}

#button1 {
  background: lightgreen;
}

#button1:active,#button1.lit{
  background: green;
}

#button2 {
  background: lightblue;
}

#button2:active, #button2.lit {
  background: blue;
}

#button3 {
  background: pink;
}

#button3:active, #button3.lit {
  background: red;
}

#button4 {
  background: lightyellow;
}

#button4:active , #button4.lit{
  background: yellow;
}

#button5{
  
  background: white;
}

#button5:active , #button5.lit{
  background: black;
  
}


.hidden {
  display: none;
}
